{% extends 'base.html' %}
{% block title %}-首页{% endblock %}

{% block head %}{% endblock %}

{% block content %}

    <div style="text-align: center">
        <h3 class="page-title">开放教育课程编排系统</h3>
        <hr>
        <h5 style="color: red">上传文件前请注意，文件名不能修改，文件必须按照模板填写！</h5>
        <ul>
            <li>课程信息表：<a href="{{ class_info_path }}">下载</a></li>
            <li>开放教育开课一览表：<a href="{{ class_arrange_path }}">下载</a></li>
        </ul>
        <div style="text-align: left;padding: 20px">
            <article>
                <h4>程序说明：</h4>
                <p>&emsp;&emsp;该程序用于生成“开放教育课程表”；</p>
                <p>&emsp;&emsp;选择时请注意"class_info.xlsx"中的“开放上课时间”表，如果开课时间不够多，当输入教室号过小时可能无法正常生成结果；</p>
            </article>
        </div>
        <div style="padding: 20px">
            <form role="form" method="post" name="excel_file" enctype="multipart/form-data">
                <input type="file" name="excel_upload" class="form-control" style="width: 40%;display: inline-block">选择课程信息表&emsp;&emsp;&emsp;&emsp;
                <hr>
                <input type="file" name="excel_upload2" class="form-control" style="width: 40%;display: inline-block">选择开放教育开课一览表
                {#            <input type="submit" value="提交" class="form-control">#}
                <h5 style="color: red">请输入可排教室数！</h5>
                <input type="number" class="default" value="" class="form-control" name="classroom_num"
                       style="width: 30%;text-align: center">
                <hr>
                <button type="submit" class="btn btn-default" style="width: 30%">提交</button>
            </form>
            <hr>
            <form role="form" method="get" name="del_excel_files" enctype="multipart/form-data">
                <h5 style="color: red">清空文件重新上传！</h5>
                {#            <input type="submit" value="清空文件" class="form-control">#}
                <button type="submit" class="btn btn-default" style="width: 30%">清空文件</button>
            </form>
        </div>

        <hr>
        <div class="form-group">
            <button class="btn btn-default" style="width: 30%"><a href="{{ url_for('class_arrange_process') }}">开始处理</a>
            </button>
            {#            <hr>#}
            {#            {% if output_file_url %}#}
            {#                <a href="{{ output_file_url }}" style="color: red;">请下载结果</a>#}
            {#            {% endif %}#}
        </div>
    </div>
{% endblock %}